@import "~bootstrap/dist/css/bootstrap.min.css";

.header {
  height: 150px;
  font-size: 80px;
  text-align: left;
  line-height: 100px;
  padding-top: 20px;
}

.footer {
  height: 150px;
  font-size: 80px;
  line-height: 100px;
  padding-top: 20px;
  transform: rotate(180deg);
}

.numero {
  text-align: center;
  height: 150px;
  font-size: 80px;
  line-height: 100px;
  padding: auto;
}

.carta {
  background-color: white;
  border-radius: 10px;
  width: 350px;
  height: 450px;
  padding-left: 25px;
  padding-right: 25px;
}
